---
import Layout from "../../layouts/Layout.astro";
import global from "../../styles/global.css";
const pageTitle = "Tag Index";

const allPosts = Object.values(import.meta.glob("../posts/*.md", { eager: true }));
const uniqueTags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
---

<Layout title={pageTitle}>
	<div class="tags">
		{
			uniqueTags.map((tag) => (
				<p class="tag">
					<a href={`/tags/${tag}`}>{tag}</a>
				</p>
			))
		}
	</div>
</Layout>
