---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogPost.astro'
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "miBlog";
---

<Layout title={pageTitle}>
  <h2>Un subtitulo que mirai, no juzguí x3</h2>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</Layout>