---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro'; 
const pageTitle = "Basic Atomico"

---

<Layout title={pageTitle}>
	<h2>Un subtitulo que mirai, no juzguí</h2>
</Layout>
